__pycache__/
*.py[cod]

/unit/build/python_env/
/unit/build/python_cpu_env/
/unit/build/uv_env/
/unit/build/uv_path.txt

/unit/build/CMakeCache.txt
/unit/build/CMakeFiles/
/unit/build/CTestTestfile.cmake
/unit/build/Makefile
/unit/build/Testing/
/unit/build/cmake_install.cmake
/unit/build/cmake_packages/
/unit/build/core_unit_tests/
/unit/build/generator/
/unit/build/git-state.txt
/unit/build/keras_resnet/
/unit/build/keras_sequential/
/unit/build/kokkos/
/unit/build/performance_benchmark/
/unit/build/ponni/
/unit/build/projection_skip/
/unit/build/pytorch_resnet/
